Django>=4.2,<5.3
djangorestframework>=3.14,<3.17
dj-database-url>=2.1,<4
neomodel>=5.3,<6
neo4j>=5.19,<6
requests>=2.32,<3
python-dotenv>=1.0,<2
google-auth>=2.32,<3
google-cloud-pubsub>=2.13,<3
celery>=5.3,<6
psycopg2-binary>=2.9,<3
gunicorn>=21,<24
whitenoise>=6.8,<7
